ProyectoClienteHospitalSW/classes/serviciosweb/ServicioEnfermedadSWPort1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:ns0="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://serviciosWeb/">
  <xsd:complexType name="agregarEnfermedad">
    <xsd:sequence>
      <xsd:element name="arg0" type="ns0:enfermedad" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="agregarEnfermedadResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarEnfermedades"/>
  <xsd:complexType name="listarEnfermedadesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enfermedad">
    <xsd:sequence>
      <xsd:element name="codigo" type="xsd:int"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="agregarEnfermedad" type="ns0:agregarEnfermedad"/>
  <xsd:element name="agregarEnfermedadResponse" type="ns0:agregarEnfermedadResponse"/>
  <xsd:element name="listarEnfermedades" type="ns0:listarEnfermedades"/>
  <xsd:element name="listarEnfermedadesResponse" type="ns0:listarEnfermedadesResponse"/>
</xsd:schema>