ProyectoClienteHospitalSW/classes/serviciosweb/ServicioPacienteSW.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviciosWeb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serviciosWeb/" name="ServicioPacienteSW">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://serviciosWeb/" schemaLocation="PacienteSWPort1.xsd"/>
    </xsd:schema>
  </types>
  <message name="agregarPaciente">
    <part name="parameters" element="tns:agregarPaciente"/>
  </message>
  <message name="agregarPacienteResponse">
    <part name="parameters" element="tns:agregarPacienteResponse"/>
  </message>
  <message name="eliminarPaciente">
    <part name="parameters" element="tns:eliminarPaciente"/>
  </message>
  <message name="listar">
    <part name="parameters" element="tns:listar"/>
  </message>
  <message name="listarResponse">
    <part name="parameters" element="tns:listarResponse"/>
  </message>
  <message name="buscarPaciente">
    <part name="parameters" element="tns:buscarPaciente"/>
  </message>
  <message name="buscarPacienteResponse">
    <part name="parameters" element="tns:buscarPacienteResponse"/>
  </message>
  <message name="modificarPaciente">
    <part name="parameters" element="tns:modificarPaciente"/>
  </message>
  <message name="modificarPacienteResponse">
    <part name="parameters" element="tns:modificarPacienteResponse"/>
  </message>
  <message name="listarPorParametro">
    <part name="parameters" element="tns:listarPorParametro"/>
  </message>
  <message name="listarPorParametroResponse">
    <part name="parameters" element="tns:listarPorParametroResponse"/>
  </message>
  <portType name="PacienteSW">
    <operation name="agregarPaciente">
      <input wsam:Action="http://serviciosWeb/PacienteSW/agregarPacienteRequest" message="tns:agregarPaciente"/>
      <output wsam:Action="http://serviciosWeb/PacienteSW/agregarPacienteResponse" message="tns:agregarPacienteResponse"/>
    </operation>
    <operation name="eliminarPaciente">
      <input wsam:Action="http://serviciosWeb/PacienteSW/eliminarPaciente" message="tns:eliminarPaciente"/>
    </operation>
    <operation name="listar">
      <input wsam:Action="http://serviciosWeb/PacienteSW/listarRequest" message="tns:listar"/>
      <output wsam:Action="http://serviciosWeb/PacienteSW/listarResponse" message="tns:listarResponse"/>
    </operation>
    <operation name="buscarPaciente">
      <input wsam:Action="http://serviciosWeb/PacienteSW/buscarPacienteRequest" message="tns:buscarPaciente"/>
      <output wsam:Action="http://serviciosWeb/PacienteSW/buscarPacienteResponse" message="tns:buscarPacienteResponse"/>
    </operation>
    <operation name="modificarPaciente">
      <input wsam:Action="http://serviciosWeb/PacienteSW/modificarPacienteRequest" message="tns:modificarPaciente"/>
      <output wsam:Action="http://serviciosWeb/PacienteSW/modificarPacienteResponse" message="tns:modificarPacienteResponse"/>
    </operation>
    <operation name="listarPorParametro">
      <input wsam:Action="http://serviciosWeb/PacienteSW/listarPorParametroRequest" message="tns:listarPorParametro"/>
      <output wsam:Action="http://serviciosWeb/PacienteSW/listarPorParametroResponse" message="tns:listarPorParametroResponse"/>
    </operation>
  </portType>
  <binding name="PacienteSWPortBinding" type="tns:PacienteSW">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="agregarPaciente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="eliminarPaciente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="listar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="buscarPaciente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modificarPaciente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listarPorParametro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ServicioPacienteSW">
    <port name="PacienteSWPort" binding="tns:PacienteSWPortBinding">
      <soap:address location="http://192.168.1.70:7101/AplicacionServidorHospitalSW-ProyectoServidorHospitalSW-context-root/PacienteSWPort"/>
    </port>
  </service>
</definitions>